a:link {
	text-decoration: none;
}

.transition {
	transition: all .3s;
}

.rooms {
	padding: 1.8rem;
	height: 53rem;
}

.rooms img {
	width: 100%;
}

.livingroom {
	margin-bottom: 1.75rem;
}

.overflow-hidden {
	overflow: hidden;
}

.room:hover img {
	transform: scale(1.1);
}

.room-btn {
	bottom: 4.5rem;
    left: 39%;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 10rem;
    height: 2.5rem;
}

.room-btn:hover a {
	background-color: #56cfe1;
	color: #fff !important;
}

.bottom-center {
	bottom: 0;
    padding-bottom: 4rem;
}

@media only screen and (max-width: 768px) {
	.room {
		margin-bottom: 1.8rem;
	}
}